[run]
branch = True
source =
    core
    verticals
    frameworks
    shims
    llm_providers

omit =
    */__init__.py
    */tests/*
    */venv/*

[report]
show_missing = True
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    abc.abstractmethod
